			<p>
			Feed Fiction is social storytelling, a new way to write short stories; together. Choose a photo and start writing, contribute to a story someone else began, or provide the perfect ending for one that's almost done.
			<p>It's fun, easy and for everyone. And it's only 55 words a story.</p>
			</p>
			<strong>Feed the Fiction!</strong>