<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        What is FeedFiction?
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        FeedFiction is social storytelling – a virtual way to write and share short stories. FeedFiction lets you choose a photo and start a short story. You can complete the whole story or compose just a portion, letting other users continue what you’ve started. Your story finishes once it reaches 55 words. You can browse other stories created by fellow users for new points of view, imagination and inspiration and you can continue stories that they started.

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        How does a FeedFiction story start?
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        A FeedFiction story begins the moment you choose a photo from your desktop or your social networks accounts. You then upload the photo and start writing.  Soon after you click “Feed It” the story begins. Whenever you start a story, your screen name will appear in the story’s header. 
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
        Who can continue stories?
      </a>
    </div>
    <div id="collapse3" class="accordion-body collapse">
      <div class="accordion-inner">
        Any user can continue an open story with as little as a single word. Whenever you continue another user’s story, you’re added to the Feeders count, and credited as having contributed to the story.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">What is “Following”?</a>
    </div>
    <div id="collapse4" class="accordion-body collapse">
      <div class="accordion-inner">
        When you follow other users, you'll see those authors’ stories where they’ve contributed, in a real-time Feed. If one starts a new story or continues an open one, you’ll be the first to know.
		You can unfollow users at any time: they won’t be notified.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
        Can I change the text in the story after submitting it?
      </a>
    </div>
    <div id="collapse5" class="accordion-body collapse">
      <div class="accordion-inner">
        No. You can’t change the text in any story you participate in after the initial submission.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
        When do I get notifications?
      </a>
    </div>
    <div id="collapse6" class="accordion-body collapse">
      <div class="accordion-inner">
        Whenever a user continue, comment, or like a story you’ve contributed to, you will get notifications at FeedFiction and via email.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
        How do I comment on a story?

      </a>
    </div>
    <div id="collapse7" class="accordion-body collapse">
      <div class="accordion-inner">
        Type in your comment within the story Feeds and on their story pages, then click “Comment.”

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
        Does FeedFiction make money?
      </a>
    </div>
    <div id="collapse8" class="accordion-body collapse">
      <div class="accordion-inner">
        Right now, we are focused on developing FeedFiction into the ultimate and most popular place for short-storytelling.
We will probably test different approaches to monetization such as advertisements, but it isn't our top priority right now.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
        How do I sign up for FeedFiction?
      </a>
    </div>
    <div id="collapse9" class="accordion-body collapse">
      <div class="accordion-inner">
        To sign up for FeedFiction, go to FeedFiction.com and select the button "Sign up with Facebook".
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">
        How do I change my username, email address, bio and profile picture?
      </a>
    </div>
    <div id="collapse10" class="accordion-body collapse">
      <div class="accordion-inner">
        Right now Facebook connect is the way you sign onto FeedFiction. When you're signed onto FeedFiction you are using your Facebook account settings. To change your information go to your Facebook account and change it there.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
        How do I report spam or inappropriate content?
      </a>
    </div>
    <div id="collapse11" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>Click on a given story to view it in full-size mode. Then, on the right-hand side below the story photo, you’ll see the flag icon. On the menu, select the reason why you're flagging the Feed. We remove inappropriate content as quickly as possible.</p>
        <p>Our goal is for FeedFiction to be a place that anyone can enjoy; we thank you in advance for taking your time to report any inappropriate content you encounter, and we thank you for caring about the growing FeedFiction community.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
        Are there any content restrictions on FeedFiction?
      </a>
    </div>
    <div id="collapse12" class="accordion-body collapse">
      <div class="accordion-inner">
        <p>We do not allow content that actively creates a risk of mental, emotional, or physical harm to you, others, or any animal.</p>
<p>We do not allow hateful content that attacks a group or individual and/or contains hateful language. </p>
<p>
We do not allow nude photographic images that contain exposed nipples, genitalia, and/or fully exposed buttocks.</p>
<p>We believe good stories can exist without disrespect, prejudice, or encouragement of behaviors or actions that are potentially harmful.</p>
<p> 
We hope that our Feeders will be respectful to one another and remember that writing isn’t an easy task - writing together can sometimes be a struggle in its own right.</p>
<p>To report activity in violation of our content policy, see “How do I report spam or inappropriate content?” below.</p>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
        How do I deactivate my account?</a>
    </div>
    <div id="collapse13" class="accordion-body collapse">
      <div class="accordion-inner">
        Send an email to support AT feedfiction.com confirming you want to deactivate your account. Once your account is been removed you will not be able to start, continue, comment or like stories until you sign up again.

      </div>
    </div>
  </div>
  </div>
  
