<% if (current_user && current_user.stories.size<1) %>
	<div class="alert alert-block">
	  <a class="userFunction link" data-function="startStoryModal"><i class="mini-ico-pencil mini-white"></i> Start a story</a> or continue open stories <%= link_to 'here' , general_feed_url%>
	</div>

<%end%>

<div id="story-container" >
	<div id="portfolio-wrapper" class="row">
	<%= render 'users/friends' %>
	<%= render :partial => 'stories/story' ,:collection => @stories%>
	</div>
</div>
<%= will_paginate @stories%>