<!-- start: Slider -->
<% content_for :fold do %>
<div class="modal hide fade in" id="StartStoryHomePageWizard">
   <div class="modal-footer"><a class="sign-in">Try it, It's free</a></div>
</div>
<div class="hp-header">
  <div class="slider-wrapper">
  	<div class="background"></div>
  
		<!--<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2>FeedFiction</h2>
				<p>FeedFiction is the place to write short stories together with friends.</p>
				
				<div class="da-img"><%#= image_tag('parallax-slider/4.png') %>
				</div>
			</div>
			<div class="da-slide">
				
				<p>Upload a photo from Facebook, Instagram or your Desktop, start writing 
				a story, and let your friends continue.</p>
				
			</div>
			<div class="da-slide">
				<p>FeedFiction is reinventing storytelling in just 55 words.</p>
				<!-- <a href="#" class="da-link">Read more</a>-->
				<!--<div class="da-img"><%# image_tag('parallax-slider/2.png') %></div>
			</div>
			
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
		</div> -->
		
	</div> 
	<div class="hp-blocks"	>
		<div class="container">
			<div class="anounce">
				<div><!-- <span class="brand">Feed<span>Fiction</span></span> is the place to write short stories together with friends.</div> -->

				<div>Collaborative Photo Storytelling in 55 words is new social engagement.</div>
<div>Join now and Feed the Fiction with people around the world.</div>
				
					
					<div class="wrapper-sign-in">
			 			<!-- <span class="sign-in btn-signin-large"></span> -->
			 			<a href="#" class="btn btn-large btn-primary sign-in" data-function="startStoryHomePageWizard"><i class="ico-edit ico-white"></i><span>Sign up with Facebook</span></a>
			 			
			 		</div>

				 	
				 	<!-- <div class="slogan">FeedFiction stories start with a photo and are exactly 55 words long.</div> -->
			 
				
				<!-- <div class="story-panel">
					<div class="lbl-start-writing hp-labels"></div>
					<div class="photo-tile"></div>
					<div class="hp-lbl-container">
						<div class="lbl-upload-photo hp-labels"></div>
					 	<div class="lbl-continue hp-labels"></div>
					</div>
					
				</div> -->


			</div>
			</div>
			

	</div>
</div>
	<!-- end: Slider -->
</div>
<% end %>
	
<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
<!--<div class="hero-unit">
	<h3>
		<%#= render 'static_pages/about'%>
	</h3>
	<p><a class="btn btn-primary btn-large sign-in">Sign in with Facebook and Start new Story&raquo;</a></p>
</div> -->
<!-- end: Hero Unit -->

<hr>



