<section class="header-hp">
	<div class="row-fluid">
		<div class="span4">
			<h1>FeedFiction</h1>
			<div class="lead">
			<p>
			Feed Fiction is a social platform that provides a way to turn photo feed into 55 words short stories. Upload a photo, write, interact and your photos would become great stories.</p>

			<p>It’s fun, easy and for everyone!</p>
			 
			<strong>Join now!</strong>
			</div>
			<button class="btn btn-large btn-primary sign-in" type="button">Sign up now!</button>
		</div>
		<div class="span8">
			<div id="myCarousel" class="carousel slide">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			    <div class="active item">Here will be images of stories</div>
			    <div class="item">Or images of users</div>
			    <div class="item">Or any expirience</div>
			  </div>
			  <!-- Carousel nav -->
			  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>
	
</section>
