<h1>Welcome to FeedFiction!</h1>
<p>Dear <%= @user.name%>,</p>
<p>
<div>Thank you for signing up with us and welcome aboard.</div>
</p>
<h2>You received a temporary password and you need to change it here <%= link_to "Change password", edit_user_registration_url %></h2>
<p>
If you have questions or suggestions, send us a quick note by replying to this email.</p>
<p> 
We look forward to reading your stories and hearing your feedback.
</p>

<p>Feed the Fiction!</p>

<p>Yours truly, </p>
<div><strong>The FeedFiction Team</strong></div>