<li>
	<div class="comment">
		<div class="avatar"><%= avatar_rounded(@comment.user) %></div>
		<div class="comment-des">
			<div class="comment-by"><strong><%= user_link @comment.user ,:class => 'commenter-avatar'%></strong>
			 <!--<span class="date"><%#= time_ago_in_words(@comment.created_at) %> ago</span>-->
			</div>
				<p><%= @comment.comment%></p>
		</div>
	 </div>
</li>
