 <% if story.is_complete %>
 <div id="comments-<%=story.id%>" class="comments">
    <ul class="commentlist">
      <% unless story.comments.empty? %>
        <%= render 'comments/show' %>
      <% end  %>
      <li>
		<%= render 'comments/new' , :story => story %>
      </li>
    </ul>
     
  </div> 
  <%end%>