<ul class="social-grid">
      <!-- <li>
        <div class="social-item">       
          <div class="social-info-wrap">
            <div class="social-info">
              <div class="social-info-front social-twitter">
                <a href="<%= user_omniauth_authorize_path(:twitter) %>"></a>
              </div>
              <div class="social-info-back social-twitter-hover">
                <a href="<%= user_omniauth_authorize_path(:twitter) %>"></a>
              </div>  
            </div>
          </div>
        </div>
      </li> -->
      <li>
        <div class="social-item">       
          <div class="social-info-wrap">
            <div class="social-info">
              <div class="social-info-front social-facebook">
                <a href="<%= user_omniauth_authorize_path(:facebook) %>"></a>
              </div>
              <div class="social-info-back social-facebook-hover">
                <a href="<%= user_omniauth_authorize_path(:facebook) %>"></a>
              </div>
            </div>
          </div>
        </div>
      </li>
    
    </ul>
    <div class="division">
      <div class="line l"></div>
      <span>or</span>
      <div class="line r"></div>
    </div>