<% provide(:title, 'Feeders to follow') %>
<section>
  
  <%= render 'layouts/title_hr' , :@hr_name => 'Feeders to follow'%>
</section>
<section>
<div>
  <%= render 'users/users_to_follow' %>
 </div>
  
</section>