<% if current_user && @friends %>
<div class="span4 portfolio-item" id="friends-to-follow" >
		<h2>People you may follow</h2>
		<ul>
			<%= render :partial => 'users/user' , :collection => @friends, :as => :user %>
		</ul>
		<div><%= link_to 'See All' , '#'%></div>
</div>
<%end%>