	
      <% if @users.any? %>
        <ul class="followers row">
          <%= render @users %>
        </ul>
        <%= will_paginate @users%>
      <% else %>
      	<div class="alert">
      		<h3><%= @empty_disclaimer%></h3> 
      	</div>
      <% end %>
    