<% provide(:title, @user.name) %>

<% content_for :fold do %>
<div>
<div class="background"></div>
  
</div>
<% end%>
<section id="user-header">
  <%= render 'user_header' %>
</section>
<section>
<div>
  <%= render 'feeds/feed' %>
 </div>
  
</section>

 
