<% provide(:title, @title) %>
<section id="user-header">
  <%= render 'user_header' %>
</section>
<section>
	<% if @stories.size>0 %>
	
	<%= render 'feeds/feed' %>
	<%else%>
		<div class="alert">
			<h3><%=@empty_disclaimer%></h3>
		</div>
	<%end%>
</section>