<% provide(:title, @title) %>
<section>
  <%= render 'user_header' %>
</section>
<section>
<div class="row">
  <section>
   <div class="span8">
      <h3><%= @title %></h3>
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate %>
      <% end %>
    </div>
  </section>
  
  
</div>