<% provide(:title, @title) %>
<section id="user-header">
  <%= render 'user_header' %>
</section>
<section>
<div class="row">
  <section>
   <div class="span8">
      <%= render 'users/users_to_follow' %>
   </div>
  </section>
  
  
</div>