<p>You have 2 ways to invite your friends:</p>
<div class="hr"></div>
<%=link_to 'Invite facebook friends', '#', class: 'facebook_invitation_link'%>
<div class="hr"></div>
<h4>By Email:</h4>
<%= render 'form' %>
<div class="hr"></div>


