<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3>Flag the story <%=@story.story_title %> as Inappropriate</h3>
</div>
<p>
If you find this story to be inappropriate or offensive for any reason, please select a reason for reporting it from the dropdown menu below.
</p>


<%= render 'form' %>

<p>
We are committed to reviewing each and every one of your submissions.</p>



