<a class="close-modal" data-dismiss="modal"></a>
<div class="modal-header">
	<h3>Report the story "<strong><%=@story.story_title %></strong>" as Inappropriate</h3>
</div>
<div class="modal-body">
	<%= render 'form' %>

</div>




