<h1>Flag this as Inappropriate</h1>
<p>
If you find this story to be inappropriate or offensive for any reason, please select a reason for reporting it from the dropdown menu below.
</p>


<%= render 'form' %>

<p>
We are committed to reviewing each and every one of your submissions.</p>



