					<div class="story-item">
						<div class="picture">
						<%= link_to(story,{title: story.story_title}) do%>
						<%=  image_tag(image_thumb(story.image))  %><div class="image-overlay-link"></div>
						<!-- <figcaption class="thumbnail-title">
			                <h3>
			                  <span>Mary Doe</span>
			                </h3>
			                <p>
			                  <span>Assistant director</span>
			                </p>
		              </figcaption> -->
						<% end %>
						</div>
						
							<div class="item-description alt">
								<%#= render 'stories/started_by' , :story => story%>
								<h5 class="story-title"><%= link_to story.story_title, story%></h5>
								<%= render 'stories/story_item' , :story => story%>
							</div>
							<!-- <div class="post-meta">
								<span><i class="mini-ico-calendar"></i>1 June 2011</span>
								<span><i class="mini-ico-user"></i> <a href="#">lucas</a></span>
								<span><i class="mini-ico-comment"></i><a href="#">89 comments</a></span>
							</div>	 -->
					
</div>

				
				
				
				
				<!--<div class="tiels-items-container">
					<a class="btn btn-small like-story"><i class="icon-thumbs-up"></i>Like</a>
					<a class="btn btn-small continue-story"><i class="icon-edit"></i>Continue</a>		
				</div>-->
				
				