

<span id="like-<%=story.id%>">
	<% if story.likes.length>0 %>
		<span><i class="mini-ico-heart"></i> <a href="<%=like_path(story.id)%>" data-toggle="modal" data-target="#like-modal" class="like-link"><%=story.likes.length%> Likes</a></span>
	<% end %>
	<span class="likes">
	<% if current_user %>
		<% if current_user.like?(story.id) %>
			<a class="btn btn-small btn-liked" disabled>
			  	<i class="mini-ico-ok"></i>Liked
			</a>
		<%else %>
			<%= render 'stories/like_form' , story: story %>
		<% end %>
	<% else %>
	<span class="like-unregistered">
		<a href="#like" class="btn btn-small btn-info btn-like unregistered">Like</a>
	</span>
	<% end %>
	</span>
</span>