      <div class="modal hide fade in" id="StartStoryModal">
              <a class="close-modal" data-dismiss="modal"></a>
              <div class="preloader hide"></div>
              <div class="modal-header">
                <h2>Start A Story</h2>
                <!-- <h2>Start A Story</h2>
                <ul class="row story-bradcrumbs">
                  <li class="span2 current-crumbs"><span class="circle-color-full-disable">1</span> Choose a photo</li>
                  <li class="span2"><span class="circle-color-full-disable">2</span> Write your story</li>
                  <li class="span2"><span class="circle-color-full-disable">3</span> Post it</li>
                </ul> -->
              </div>
              <div class="modal-body">

                <div id="uploadProviders">
                  <p>To start a story please upload photo</p>
                  <%= render 'layouts/image_provider' %>
                </div>
                <div id="imageTiles"></div>

                <div class="hide" id="upload-form">
                  <%=render template: 'images/upload'%>
                </div>

                <div class="hide" id="start-story">
                  <%= render 'stories/start_story'%>
                </div>

              </div>
              <div class="modal-footer hide"></div>
             
      </div>
      
      