<%= form_for Story.new do |f| %>
  
	  <ul class="start-story-form">
		<!-- <li><h3></h3></li> -->
		<li><div id="start-story-form-image">In process...</div>
			<%=f.hidden_field :image_id , :class => 'start-story-image' %>
		</li>
		
		
		<li>
			<textarea name='story_line[line]' placeholder="Write here..."></textarea>
			
		</li>
		<li>
			<span class="error-message"></span>
			<span class="counter-text">55 words left out of 55</span>
			<%= f.button 'Feed It', :class => 'btn btn-create-story', disabled: true, disable_with: 'Creating story...'%>
		</li>
					
	</ul>		
  
<% end %>
