<%= form_for Story.new do |f| %>
  
	  <ul class="start-story-form">
		<!-- <li><h3></h3></li> -->
		<li><div id="start-story-form-image">In process...</div>
			<%=f.hidden_field :image_id , :class => 'start-story-image' %>
		</li>
		
		
		<li>
			<%= render 'stories/writer_area' , story: Story.new, f: f%>
		</li>
					
	</ul>		
  
<% end %>
