<%= form_for Story.new do |f| %>
  
	  <ul>
		<!-- <li><h3></h3></li> -->
		<li><div id="start-story-form-image">In Process...</div>
			<%=f.hidden_field :image_id , :class => 'start-story-image' %>
		</li>
		<li><%= render 'categories/custom_drop_down_categories' %>
			<%= f.hidden_field :category_id , class: 'start-story-category'%>
		</li>
		<li>
			<textarea name='story[storyline][line]' placeholder="You need a minimum of 10 words to start a story. It's that easy!"></textarea>
			
		</li>
		<li>
		<input type="submit" class="btn btn-large" value="Create Story" name="commit" disabled/>
		</li>					
	</ul>		
  
<% end %>
