<section class="story-page">
  <% provide(:title, story_title(@story)) %>
  <%=  image_tag(@story.image.url)  %>
  <h1><%= story_title(@story)%></h1>
  <%= render 'static_pages/story_item' , :story => @story%>

</section>