<style type="text/css">
#wrapper {
	background-color: #fff !important;
}
</style>

<div id="StartStoryModal" class="collapse in">
<%= render 'start_story'%>


<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#StartStoryModal">
  simple collapsible
</button>
 



</div>