jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true


window.fbAsyncInit = ->
  FB.init(appId: '<%= ENV["FACEBOOK_APP_ID"] %>', cookie: true)

  $('.sign-in').click (e) ->
    e.preventDefault()
    $('#loginPreloader').modal('show')
    FB.login (response) ->
      window.location = '/auth/facebook' if response.authResponse
    , scope: "user_photos,friends_photos,email, publish_stream"

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true

  $("#facebook_invitation_link").click ->
    FB.ui
      method: "send"
      name: "Check out Feedficton!"
      description: "Setapp finds you applications and tools that you must know, based on your expertise."
      link: "http://alpha.feedfiction.com/invitation/c3301fe4"
    , (data) ->
      AnalyticsManager.trackPage "/invite_via_facebook_sent"  if data?

  AnalyticsManager.trackPage "/invite_via_facebook"
  false

 