jQuery ->
  $('body').prepend('<div id="fb-root"></div>')

  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true


window.fbAsyncInit = ->
  FB.init(appId: '<%= ENV["FACEBOOK_APP_ID"] %>', cookie: true)

  $('.sign-in').click (e) ->
    e.preventDefault()
    $('#modal-register').modal('hide')
    $('#loginPreloader').modal('show')
    FB.login (response) ->
      window.location = '/auth/facebook' if response.authResponse
    , scope: "user_photos,friends_photos,email, publish_stream"

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true

  $(".facebook_invitation_link").click ->
    FB.ui
      method: "send"
      name: "Check out Feedficton!"
      picture: '<%= ENV["ROOT_URL"] %>/assets/logo.png'
      description: "Connect with friends and family to transform your photos into great short stories. Create, Inspire, Share. Have fun. Together."
      link: "http://feedfiction.com"
    false

 