$background-color :#EDEDEB;
$background-header :#1B1B1B;
$background-socials :#29A9DF;
$background-socials :#1A1A1A;
$background-url: url('background.png');
$story-font : 'Sanchez',serif;


body {
	font-family: $story-font;

}

h2 {
	font-family: $story-font !important;
	font-size: 20px;
}

/*h3 {
	font-family: 'Lobster' !important;
}*/
hr {
  	margin: 20px 0;
  	border: 0;
  	border-top: 1px solid #e0dfdf;
  	border-bottom: 1px solid #fcfcfc;
}

hr.clean {
	margin: 20px 0;
  	border: 0;
  	border-top: 1px solid #fff;
  	border-bottom: 1px solid #f6f6f6;
}

textarea
{
   resize: none;
}

.hr {
	border-top: 1px solid #e0dfdf;
  	border-bottom: 1px solid #fcfcfc;
}

a.link {
	cursor: pointer;
}

.circle-color-full-disable {
	background-color: #aaaaaa;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	-webkit-box-shadow: 0px 0px 0px 3px #aaaaaa;
	   -moz-box-shadow: 0px 0px 0px 3px #aaaaaa;
		    box-shadow: 0px 0px 0px 3px #aaaaaa;
	margin: 0 auto;
	opacity: 1;
}

.close-modal {
	background: url('close_btn_modal.png') no-repeat;
	width: 55px;
		height: 23px;
		float: right;
		position: relative;
		top: -21px; left: -22px;
		cursor: pointer;
}
.modal {
	overflow: visible;
}

.preloader {
	background: url('preloader.gif') center center no-repeat;
}
.pagination {
	visibility: hidden;
}
header {
	background-color: $background-header;
	border-bottom: 0;
	height: 45px;
	.navbar, 
	.navbar-inner, 
	.nav,
	.navbar-inverse {
		float: right;
		/*background: $background-color !important;*/
		filter: none !important;
		border: none;
		-webkit-box-shadow: none;
	       -moz-box-shadow: none;
	            box-shadow: none;
		padding: 0px;
		margin: 0;
		/*height: 30px;
		min-height:30px;*/
		background-color: $background-header;
		.nav {
			/*margin:0;*/
			li.dropdown > .dropdown-toggle .caret {
				/*margin-top: 8px;*/
				border-top-color: #eee;
  			border-bottom-color: #eee;
			}
			/*> li > a {
				padding:5px 15px;
			}*/
			.dropdown-menu a{
				color: #000 !important;
			}
			/*.divider-vertical {
				height: 30px;
			}*/
		}
		li {
			/*height: 30px;*/
			/*line-height: 10px*/;
			a {
				color: #fff !important;
			}

			.round-avatar-mini {
				margin-top: 7px;
			}

		}


	}

}

footer {
	margin-top: 20px;
	background-color: #323232;
	padding: 10px;
	-webkit-box-shadow: 0 -4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);
	   -moz-box-shadow: 0 -4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);
            box-shadow: 0 -4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);
	/* Footer
====================================================================== */
#footer-menu {
	height: 50px;
	background: #1A1A1A;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		    box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	border:0;
	margin-top: 0;
}

#footer-menu-logo  {
	height: 46px;
	#logo-arrow {
		margin: 5px;
		height: 36px;
		width: 36px;
		background: #fcfcfc url('arrow.png');
		background-repeat: no-repeat;
		background-position: 66% 50%;
		opacity: .1;
		filter: alpha(opacity=10);
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
		-webkit-border-radius: 50em;
		-moz-border-radius: 50em;
		border-radius: 50em;
		border: 3px solid #000;
		float: left;
	}

	a{
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	line-height: 54px;
	margin-left: 5px;
	}

	span {
		color: #444;
	}

	img {
		margin-top: 10px;
	}

}




#footer-menu-links {
	display: block;
	float: left;
	max-height: 52px;
	margin: 6px 0 6px 0;

}

#footer-menu-links ul,
#footer-menu-links li {
	list-style: disc;
	color:#444;
	padding:0;
	margin:0;
}

#footer-menu-links li:first-child {
	list-style: none;
}


#footer-menu-links ul li{
	float:left;
	position:relative;
	z-index: 100;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-links ul li a { 
	display: inline-block;
	color: #444;
	text-decoration: none;
	font-size: 12px;
	/*font-family: 'Droid Sans';*/
	text-transform: normal;
	padding: 10px 15px 10px 0px;
	margin: 0px 10px 0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}

#footer-menu-links ul li:first-child a { 

}

#footer-menu-links ul li a:hover {
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-back-to-top {
	margin: 10px;
	z-index: 999;
}

#footer {
	/*margin: 0px 10px 0 10px;*/
	background: #232323;
	color: #fcfcfc !important;
	padding: 40px 0px;
	z-index: 1;
	position: relative;
	opacity: 1;
	border-bottom: 0;
	-webkit-box-shadow: 0 4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);
	   -moz-box-shadow: 0 4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);
            box-shadow: 0 4px 0 rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.35);

}

#footer, 
#footer p, 
#footer a{ 
	color: #fcfcfc !important;
}

#footer a:hover {
	color: #fff;
}

.no-margin {margin-top: 0;}

#footer h3 {
	padding: 2px 0px !important;
	margin-bottom: 10px;
	color: #fdfdfd;
	border:0;
	font-family: $story-font !important;
}

.social-info-wrap {
	box-shadow: 0 0 0 5px $background-socials;
}

.social-info > div {
	border: 1px solid #000;
}

.social-twitter { 
	background: $background-socials url('icons/social_big/twitter_grey.png') no-repeat;
}

.social-facebook { 
	background: $background-socials url('icons/social_big/facebook_grey.png') no-repeat;
}

}

#facebook_invitation_link {
	display: inline-block;
}

/* Home page */
.hp-header {
	position: relative;
	.slider-wrapper {
		/*background: url('hpcollage_blur.jpg') repeat-x;*/
		background: url('collage.jpg') repeat-x;
		height: 500px;
		

		div {
			background-color: #000;
			width:100%; height: 100%;
			opacity: 0.7;
		}

	}
	.hp-blocks {
		position: absolute;
		top: 50px;
		width: 100%;
		/*.container {
			background-color: $background-color;
			padding:10px;
		}*/
	}
	.anounce {
			float: left;
			color: #fff;
			font-size: 30px;
			width: 500px;
			line-height: 40px;
			text-align: center;
			p{
				text-align: center;
			}
			.last-word {
				/*color: #2954C5;*/
				
			}

			.sign-in{
				
				position: relative;
				top: 90px;
				
			}

			/*.sign-in {
				background: url('hp_facbook_coonect.png') no-repeat;
				height: 61px; width: 344px;
				display: inline-block;
				color: #EEE;
				font-size: 23px;
				/*padding-left: 69px;*/
				/*padding-left: 30px;
				margin-left: 30px;
				line-height: 62px;
				position: relative;
				top: 90px;
				cursor: pointer;
			}*/
			
		}
	.story-panel {
		float: right;
		width: 560px;
	}

		.hp-labels {
			background: url('hp_labels_arrows_white.png') no-repeat;
			background-repeat: no-repeat;
			display: block;
			height: 100px; width: 150px; 
		}
		.hp-lbl-container, .photo-tile , .lbl-start-writing{
			float: left;
		}

		.lbl-start-writing {
			height: 250px;
			background-position: 22px 150px;
		}
		.photo-tile {
			background: url('hp_story_cover.png') no-repeat;
			display: inline-block;
			width: 260px;
			height: 400px;
		}
		.lbl-upload-photo {
			background-position: -280px 27px;
			height: 234px;
		}
		.lbl-continue {
			background-position: -115px 0;
		}
 

}

/* Photo Stream
=================================================================== */
.flickr-widget {margin-right: -12px; margin-top: 15px; padding: 0px 5px}
.flickr-widget img {display: block; width: 100%;}
.flickr-widget a:hover {border-color: #f16529;}

.flickr-widget a {
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 0px;
	margin-right: 9px;
	margin-bottom: 9px;
	background: #0a0c0e;
	border: 1px solid #0a0c0e;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
}


.btn-small {
	/*webkit-border-radius: 14px;
     -moz-border-radius: 14px;
          border-radius: 14px;*/
}
.btn-signin-large {
	background: url('hp_facbook_coonect_sprite.png') no-repeat;
	height: 63px; width: 345px;
	display: inline-block;
	cursor: pointer;
	&:hover {
		background-position: 0 -65px;
	}
}



.notify-count {
	background-color:#F03D25;
	border: 1px solid #D83722;
	-webkit-border-radius:2px;
		top:-10px;
	color:#fff;
	font-family: 'arial';
	font-size:9px;
	font-weight:bold;
	overflow:hidden;
	padding:0 1px 1px;
	position:relative;
	right:-1px;
	
}

/* Logos */
.logo {
	height: 0;
	font-family: 'Lobster';
	margin-top: 10px;
	i {
		margin-top: 0px;
		color: #fff;
	}
	a{
		/*height:30px;*/
		/*color: #DDD;*/
		text-decoration: none;
		font-size: 28px;
		line-height: 22px;
		margin-left: 0px;

	}
}
.logo ,.small-logo{
    
    
   /* transform:rotate(-27deg);
		-ms-transform:rotate(-27deg); /* IE 9 */
		/*-moz-transform:rotate(-27deg);  Firefox 
		-webkit-transform:rotate(-27deg); /* Safari and Chrome */
		/*-o-transform:rotate(-27deg); /* Opera */

}

.small-logo {
			border-radius: 65px;
    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
    	background-color: #ea6030;
    	height: 110px;
	    line-height: 110px;
	    margin: 0 auto;
    	text-align: center;
	    width: 110px;
	    font-family: 'Lobster';
	    font-size: 25px;
	    border: 5px solid #F6F6F6;
	    color: #eee;
	    i {
	    	display: block;
	    	color: #eee;
	    }
}

.everything-logo {
	background-color: #39AB2E;
}

.categories-logo {
	background-color: #2954C5;
}


/*Main Navbar*/
/*.navbar .nav > li > a */



.wrapper-logo-feed {
	width: 135px;
	/*background-color: $background-color;*/
	background: $background-url;
	margin:0 auto;
	position: relative;
	top: -7.3em;
	/*border: solid 1px;*/
	.logo-feed {
		
	}
}

.header-hr {
		text-align:center;
		border-bottom:2px solid #666;
		height: 2px;
		margin:30px 0 30px 0 !important;
		h1 {
			position: relative; top: -0.5em;
			font-family: 'Lobster' !important;
			/*background-color: $background-color;*/
			background: $background-url;
			display: inline-block;
			padding: 0 35px;
			font-size: 33px;
			line-height: 11px;

		}

}

.logo-framework {
	position: absolute;
	width: 100%;
}
.wrapper-hr{

	position: relative;
	margin: 70px 0;
	.left-corner, .right-corner {
		position: absolute;
		top: 40px;
		border:solid 1px #D4D4D4;
		height: 40px;
		width: 8px;
		/*background-color: #EDEDEB;*/
		background: $background-url;

	}
	.left-corner {
		left: -9px;
		-moz-border-radius-bottomleft: 15px 35px;
		-moz-border-radius-topleft: 15px 35px;
		border-bottom-left-radius: 15px 35px;
		border-top-left-radius: 15px 35px;
		border-right:0;
	}
	.right-corner {
		left: 134px;
		-moz-border-radius-bottomright: 15px 35px;
		-moz-border-radius-topright: 15px 35px;
		border-bottom-right-radius: 15px 35px;
		border-top-right-radius: 15px 35px;
		border-left: 0;
		
	}
	.dropdown-menu {
		width: 500px;
		span {
			float: left;
		}
	}

	.nav {
		li {
			position: relative;
		}
	}

.dropdown-menu  a:hover,
.dropdown-menu  a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

	/*.navbar-inner {
		border-radius: 65px;
    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
	}*/
}




#wrapper {
	/*background-color:$background-color;*/
	background: $background-url;
}

.hero-unit {
	background-color: #fff;
}

.basic-avatar {
	display: inline-block;
	width: 40px; height: 40px;
}

.story-area {
	font-family: $story-font;
	overflow: hidden;
	font-size:18px;
	line-height: 22px;
	font-weight: 700px;
	text-align: justify;
	padding:20px;
	color: #444;
	

	.the-end {
		text-align:center;
		border-bottom:2px solid #d5d5d5;
		height: 25px;
		h5{
			display: inline-block;
			position: relative;
			top: -3px;
			margin:15px 0;
			padding: 0 30px !important;
		  text-align: center;
			color: #555;
		  font-family: 'Lobster', cursive !important;
		  font-size: 23px;
		  text-transform: capitalize;
		  background-color: #fff;
		}
	  
	}
	
}

.writers {
	padding-left: 0;
	div {
		float: left;
	}
	.feeders {
		line-height: 38px;
		margin-right: 7px;
	}
	
}

.round-avatar {
	width:40px;	height:40px;
	margin-right: 7px;
	border-radius: 90px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border: 1px solid #eee;
}

.round-avatar-large {
	width:90px;	height:90px;
	border-radius: 90px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
	border: 5px solid #F6F6F6

}
.round-avatar-border {
	border-radius: 90px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
	border: 1px solid #000;
}

.continue-story-text-area {
	xborder-top:1px solid #E9E9E9;
	padding: 10px 5px 2px;
	
	/*background: url('bg-k10.png') repeat;*/
	background-color: #edfcff;
	.round-avatar {
		float:left;
	}
	.counter-text {
		padding-left: 47px;
	}
	.textarea-with-button{
		textarea {
			width: 82%;
		}

		div{
			text-align: right;
			padding: 5px;
			.counter-text {
				float: left;
			}
		}
	}
	
}


.dropcap {
	/*text-align: left;*/
	font-size: 30px;
	/*line-height: 48px;
	max-width: 49px;*/
	margin: 0;
	/*padding-right: 5px;*/
	/*border:0;
	display: inline-block;*/
	/*float: left;*/
	font-weight: 400;
	height: 30px;

}

.portfolio-item {
	/*overflow: hidden;*/
	background-color: #fff;
	&:hover {
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	}
}
#story-container {
	.item-description {
		padding:0;
		h5 a{	
			font-family: $story-font;
			font-size: 25px;
			font-weight: 700px;
		}
	}

	.story-item {
		/*border: 1px solid #fcfcfc;*/
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,.25);
    overflow: hidden;
    background-color: #fff;

		.picture {
			padding:0;
			border:0;
			position: relative;
			/*box-shadow:0;
			-webkit-box-shadow: 0;*/
			/*.image-container{
				position: absolute;
				height: 100%;
				width: 100%;
				display: table;
				vertical-align: middle;
			}*/
			/*webkit-box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);
			-moz-box-shadow: inset 0 -70px 70px -20px rgba(0,0,0,0.65);
			box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);*/
			.title-container {
				position: absolute;
				top: 25px;
				width: 100%;
				div.story-title {
					overflow: hidden;
					width:270px;
					text-align: center;
					margin: 0 auto;
					background-color: rgba(0, 0, 0, 0.35);
					color: #eee;
					border: 1px solid #b7b5b5;
					/*top: -26px;
					height: 28px;
					line-height: 28px;*/
					webkit-box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);
					-moz-box-shadow: inset 0 -70px 70px -20px rgba(0,0,0,0.65);
					box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);
					.by-owners {
						color: #b7b5b5;
					}
					a{
						display: inline-block;
						border-bottom: solid 1px;
						padding: 5px 0;
						font-family: $story-font;
						/*font-style: italic;*/
						text-decoration: none;
						font-size: 20px;
						color: #eee;
					}

					div	{

					}
				}
			}

		}
		
		
		.item-description {
			padding: 0;
			h5.story-title {
				padding: 5px 0 0 23px;
				background-color: #434343;
				a {
					color:#eee;
				}
			}
			.writers {
				/*border-bottom: 1px solid #E9E9E9;*/
				margin:0 18px;
			}
			form {
				margin-bottom: 0;
			}
		}

		.post-meta {
			margin-top: 0;
			position: relative;
		}


	}
	.comments-dashboard {
		border-top: 1px solid #E9E9E9;
		height: 18px;
		margin: 0 18px;
		padding: 20px 0;
	}




}



/* Comments */
.comments-sec {
	
	width:100%;
	line-height: 20px;
	margin-top: -15px;
}

ul.commentlist {
	 
	background-color: #f5f5f5;
	overflow: hidden;
	
	li {
		clear: both;
		border-top: 1px solid #eee;
		.comment {
			margin: 0 18px;
			padding-top:7px;
			.avatar , .comment-des {
				float:left;
				
			}
			.comment-des {
				max-width: 276px;
			}
			.comment-by {
				padding-bottom: 0;
			}
		}

		.add-comment {
			form {
				margin:0;
			}
			textarea {
				width: 270px;
				height: 30px;
			}

			.actions {
				text-align: right;
				padding: 5px 0;
			}
		}


	}

}


/* Likes / Unlikes  */

.likes {
	form {
		float: right;
		/*padding-right: 10px;*/
		position: relative;
		margin:0;
	}
	div {
		display: inline;
	}

}

.like-unregistered, .flag  ,.btn-liked {
	float:right;
}
.flag {
	
	margin-right: 5px;
}

/* Story Page */

.story-header-hr-wrapper {
	width: 580px;
}
.story-page {
	font-size: 14px;
	.started-by {
		text-align: center;
		div{
			margin:0 auto;
		}
		a, h2 {
			font-family: $story-font !important;
		}
		h2 {
			line-height: 20px
		}
	}

	.writers {
		.round-avatar ,img {
			width: 60px; height: 60px;
		}

	}

	


	.big-avatars {
		ul {
			display: inline-block;

			li {
				width:170px;
			}
		}
		.writer {
			float: left;
			padding: 10px;
		}
	}

	.story {
		
		border-bottom: 1px solid #eee;
		margin-bottom: 30px;
		background: #fff;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
			    box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		width: 580px;	
		margin:	0 auto;
		.story-wrapper {
			padding: 10px 10px 0px 10px;
		}
	}
	
	.story-title {
		font-family: $story-font !important;
		padding-left: 25px;
	}
	.story-area {
		font-size: 25px;
		line-height: 32px;
	}

	.widget {
		padding: 10px;
		margin-top: 25px;
		background: #fff;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
			    box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	}
	
	.widget-first {
		background: #fff;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
			    box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	}

	.comment-des {
			width:90% !important;
		}

	.comments-dashboard {
		height: 18px;
	}
}

/* Modal Validation registraion */

#modal-register {
	width: 650px;
	text-align: center;
	.modal-body {
		clear: both;
		padding: 0 42px;
		overflow-y:visible;
		font-size: 22px;
		line-height: 37px;
	}
	.link-login {
		padding-top: 20px;
		text-align: right;
		font-size: 15px;
	}

}

/* Registration modal wizrd */
#registration_wizard {
	width:auto;
	min-width: 555px;
	font-size: 17px;
	&.modal {
		overflow: visible !important;
	}
	.start-registration, #registration-done {
		padding:0 15px;
		line-height: 24px;
	}
	.modal-footer {
		font-size: 14px;
		line-height: 14px;	
	}
	#StartStoryModal {
		.close-modal, .modal-footer {
			display: none;
		}

	}
	
}

#registration-continue-story {
	overflow: visible;
	z-index: 999999;
	width: 435px;
	font-size: 16px;
	line-height: 26px;

	h3 {
		font-size: 17px;
	}
	
	.modal-footer {
		width: 92%;
		.next-registration-wizad-btns {
			font-size: 14px;
			line-height: 14px;
			float: right;
		}
	}

}
.exposure-tile {
	overflow: visible;
	z-index: 999999;
	#story-container .story-item {
		overflow: visible;
	}
}

/* Start a stry wizard */
#StartStoryModal {
	h2,h3 {
		/*text-align: center;*/
	}
	width: 555px;
	&.modal {
		overflow: visible !important;
	}
	.close-modal {
		
	}
	.preloader {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
			opacity: 0.9;
	}


	
	
	li {
		font-size: 15px;
		.circle-color-full,.circle-color-full-disable {
			display: inline-block;
			width: 20px;
			color: #fff;
			text-align: center;
			 
		}
	}
	#portfolio-wrapper {
		margin-left: -14px;
		li {
			margin-left: 15px;
			margin-bottom: 15px;
			box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
			-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
			-webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
		}
		.picture {
			padding: 0;
			border: 0;
		}
	}

	.story-bradcrumbs {
		.span2 {
			width:160px;
		}
		li {
			padding: 10px 0;
			display: block;
			/*float: none;*/
			span {
				margin-right: 5px;
			}
		}
		li.current-crumbs {
			color: #29A9DF;
			span{
				background-color: #29A9DF;
				-webkit-box-shadow: 0px 0px 0px 3px #29A9DF;
	   		-moz-box-shadow: 0px 0px 0px 3px #29A9DF;
		    box-shadow: 0px 0px 0px 3px #29A9DF;

			}
		}
	}
	.modal-body {
		p {
			padding-left: 45px;
			font-size: 20px;
			

		}
		
	}
	.modal-header {
		/*position: absolute;
		left: -200px;
		border: 0;*/
	}
	.modal-footer {
		background-color: #fff;
		padding: 40px;
	}



	.logo-images {
		text-align: center;
		/*padding: 30px 0;*/
		div.span2 {
			background-color: #eee;
			margin-left: 5px;
			&:hover {
				background-color: #d6d6d4;
			}
		}
		.first {
			margin-left: 0 !important;
		}
		a {
			display: inline-block;
			width: 110px;
			text-align: center;
			padding: 10px 20px;
			text-decoration: none;
			span {
				margin-bottom: 20px;
			}
			cursor: pointer;
		}
	}

	&.behaviour-story-form {
		width: 397px;
		.modal-header {
			/*position: absolute;*/
			/*border: 0;*/
			/*ul {
				li {
					display: block;
					float: none;
				}
			}*/
		}

		.modal-body {
			max-height: none;
		}

		/*ul.start-story-form {
			float: right;
		}*/
		
	}

	ul.start-story-form {
		width: 350px;
		
		#start-story-form-image {
			width: 350px;
			min-height: 120px;   max-height: 300px;
			background: #EDEDEB;
			border: 1px solid rgba(26, 0, 0, 0.26);
			margin-bottom: 20px;
			overflow: hidden;


		}

		div.select-box {
			width: 350px;
			&.selected-blink span{
				color: #F6F6F6;
				background: #4096EE;
			}

			ul.select-options {
				width: 348px;
				li.select-option {
					padding:5px 10% 5px 6%;
					&:hover {
						width: 100%;
					}
				}
			}
			span.selected, span.select-arrow {
				border:1px solid #AD9C9C;
				border-right: 0;
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
				color: inherit;

			}

			span.selected {
				width: 318px;
			}
			span.select-arrow {
				border-left: 0 !important;
				border-right:1px solid #AD9C9C !important;

			}

			
		}

		.choose-category {
			.selected {
				color: #fff !important;
				background: #4096EE !important;
			}
		}

		textarea {
				width:338px;
				height: 100px;
		}
	}

	.counter-announce , .counter-text {
		font-size: 13px;
	}

	.counter-announce {
		line-height: 29px;
		float: left;
	}

	.counter-text {
		line-height: 29px;
		float: left;

	}

	.btn-create-story {
		float: right;
		text-align: center;
	}

	#upload-component {
		#file {
			display: none;
		}
	}
}
.social-upload {
	background: url('social-uploads2.png') no-repeat;
	height: 101px; width: 102px;
	display: inline-block;
}

.upload-facebook {
	/*background-position: -3px -85px;
	&:hover {
		background-position: -3px -85px;
	}*/
}
.upload-instagram {
	background-position: -114px 0px;
	&:hover {
		
	}
}
.upload-cloud {
	background-position: -225px 0px;
	&:hover {
		
	}
}

/* User Page */
.user-info {
	.image-wrapper {
		margin: 25px 0;
	}
	.round-avatar-large {
		margin:0 auto;
	}
	.following-wrapper {
		position: relative;
		form {
			position: absolute;
			top: 5px;
			height: 0;
			width:100%;

			.btn {
				display: block;
				margin: 0 auto;
			}
		}
	}
	
}

/* Followers page */
.followers {
	
	li {
		position: relative;
		padding: 7px 0 0 0;
		margin-bottom: 30px;
		height: 67px;
		background-color: #fff;
		-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     .span1 {
     	display: block;
     		margin-left: 7px;
     }
     form{
     	position: absolute;
     	top: 42px;
     	width: 100%;
     	.btn-small {
     		float: right;
     		margin-right: 5px;
     	}
     }
     .btn-follow-wrapper {
     	margin-top: 12px;
     }
     .thats-you {
				float: right;
				position: relative;
				top: 3px;
				margin-right: 5px;
			}
	}
}

	