$background-color :#EDEDEB;
$story-font : 'Sanchez',serif;
$xstory-font : 'Arbutus Slab', serif;

body {
	font-family: $story-font;

}

h2 {
	font-size: 25px;
}
hr {
  	margin: 20px 0;
  	border: 0;
  	border-top: 1px solid #e0dfdf;
  	border-bottom: 1px solid #fcfcfc;
}

hr.clean {
	margin: 20px 0;
  	border: 0;
  	border-top: 1px solid #fff;
  	border-bottom: 1px solid #f6f6f6;
}

.btn-small {
	webkit-border-radius: 14px;
     -moz-border-radius: 14px;
          border-radius: 14px;
}

/* Logos */

.logo ,.small-logo{
    background-color: #f73b3b;
    border-radius: 65px;
    -moz-border-radius: 65px;
    -webkit-border-radius: 65px;
    transform:rotate(-27deg);
		-ms-transform:rotate(-27deg); /* IE 9 */
		-moz-transform:rotate(-27deg); /* Firefox */
		-webkit-transform:rotate(-27deg); /* Safari and Chrome */
		-o-transform:rotate(-27deg); /* Opera */
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    height: 110px;
    line-height: 110px;
    margin: 0 auto;
    text-align: center;
    width: 110px;


}

.small-logo {
    	background-color: #ea6030;
    	height: 90px;
	    line-height: 90px;
	    width: 90px;
	    font-size: 25px;
	    border: 5px solid #F6F6F6;
	    i {
	    	display: block;
	    	color: #eee;
	    }
}

.logo-feed {
	margin-bottom: 20px;
}


#wrapper {
	background-color:$background-color;
}

.hero-unit {
	background-color: #fff;
}

.basic-avatar {
	display: inline-block;
	width: 40px; height: 40px;
}

.story-area {
	font-family: $story-font;
	font-size:18px;
	font-weight: 700px;
	padding:20px;
	span {
		color: #444;
	}

	.the-end {
		text-align:center;
		border-bottom:2px solid #d5d5d5;
		height: 25px;
		h5{
			display: inline-block;
			position: relative;
			top: -3px;
			margin:15px 0;
			padding: 0 30px !important;
		  text-align: center;
		  color: #7B0202;
		  font-family: 'Lobster', cursive !important;
		  font-size: 20px;
		  text-transform: capitalize;
		  background-color: #fff;
		}
	  
	}
	
}

.writers {
	padding-left: 0;
	div {
		float: left;
	}
	.feeders {
		line-height: 38px;
		margin-right: 7px;
	}
	
}

.round-avatar {
	width:40px;	height:40px;
	margin-right: 7px;
}

.round-avatar-large {
	width:90px;	height:90px;

}

.continue-story-text-area {
	xborder-top:1px solid #E9E9E9;
	padding-left: 5px;
	padding-bottom: 3px;
	/*background: url('bg-k10.png') repeat;*/
	background-color: #edfcff;
	.round-avatar {
		float:left;
	}
	.textarea-with-button{
		textarea {
			width: 82%;
		}

		div{
			text-align: right;
			padding: 5px;
		}
	}
	
}

.xxxxfeeders {
	li img {
	opacity: 0.6;
	filter: gray;
	-webkit-filter: grayscale(100%);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
		&:hover {
			opacity: 1;
			filter: none;
			-webkit-filter: grayscale(0%);
		}
	}
}

.dropcap {
	text-align: left;
	font-size: 40px;
	line-height: 40px;
	margin: 0;
	border:0;

}
#story-container {
	.item-description {
		padding:0;
		h5 a{	
			font-family: $story-font;
			font-size: 25px;
			font-weight: 700px;
		}
	}

	.story-item {
		/*border: 1px solid #fcfcfc;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,.25);*/
    overflow: hidden;
    background-color: #fff;

		.picture {
			padding:0;
			border:0;
			position: relative;
			/*box-shadow:0;
			-webkit-box-shadow: 0;*/
			/*.image-container{
				position: absolute;
				height: 100%;
				width: 100%;
				display: table;
				vertical-align: middle;
			}*/
			/*webkit-box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);
			-moz-box-shadow: inset 0 -70px 70px -20px rgba(0,0,0,0.65);
			box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);*/
			.title-container {
				position: relative;
				div.story-title {
					position: absolute;
					padding-left: 20px;
					/*background-color: rgba(0, 0, 0, 0.35);*/
					width: 100%;
					top: -26px;
					height: 28px;
					line-height: 28px;
					webkit-box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);
			-moz-box-shadow: inset 0 -70px 70px -20px rgba(0,0,0,0.65);
			box-shadow: inset 0 -70px 70px -20px rgba(0, 0, 0, 0.65);

					a{
						font-family: $story-font;
						font-style: italic;
						font-size: 15px;
						color: #eee;
					}
				}
			}

		}
		
		
		.item-description {
			padding: 0;
			h5.story-title {
				padding: 5px 0 0 23px;
				background-color: #434343;
				a {
					color:#eee;
				}
			}
			.writers {
				padding-left: 5px;
				border-bottom: 1px solid #E9E9E9;
				margin:0;
			}
			form {
				margin-bottom: 0;
			}
		}

		.post-meta {
			margin-top: 0;
		}


	}
	.comments-dashboard {
		border: 0;
		height: 18px;
	}




}



/* Comments */
.comments-sec {
	float:left;
	width:100%;
	line-height: 20px;
	margin-top: -15px;
}

ul.commentlist {
	float:left; 
	width:100%;
	margin: 0;
	li {
		float:left;
	width: 100%;
	border-top: 1px solid #e7e7e7;
	background-color: #f2f2ed;

	.avatar {
		padding:5px;
	}
		.comment-des {
			width:84%;
		}
	}
	.comment-by {
		padding-bottom: 0;
	}

}

.add-comment {
		float: left;
		border-top: 1px solid #E7E7E7;
		width:100%;
		padding: 10px 5px;
		background-color: #E3E3E1;
		.round-avatar {
			float: left;
		}

		textarea {
			width: 80%;
			height: 30px;
		}

		.actions {
			text-align: right;
			padding: 5px 13px 0 0;
		}
}

/* Likes / Unlikes  */

.likes {
	form {
		float: right;
		padding-right: 10px;
	}
	div {
		display: inline;
	}

}

.like-unregistered {
	float:right;
}
.flag {
	float:right;
	margin-right: 5px;
}

/* Story Page */
.story-page {
	font-size: 14px;
	.started-by {
		text-align: center;
		div{
			margin:0 auto;
		}
		a, h2 {
			font-family: $story-font !important;
		}
	}

	.round-avatar {
		width: 60px; height: 60px;
	}


	.big-avatars {
		ul {
			display: inline-block;
		}
		.writer {
			float: left;
			padding: 10px;
		}
	}

	.story {
		
		border-bottom: 1px solid #eee;
		margin-bottom: 30px;
		background: #fff;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
			    box-shadow: 0px 1px 1px rgba(0,0,0,.35);	
		.story-wrapper {
			padding: 10px 10px 0px 10px;
		}
	}

	.story-header {
		text-align:center;
		border-bottom:2px solid #666;
		height: 25px;
		margin:35px 0 !important;

		h1 {
			font-family: 'Lobster' !important;
			background-color: $background-color;
			display: inline-block;
			padding: 0 35px;
		}
	}
	.story-title {
		font-family: $story-font !important;
		padding-left: 25px;
	}

	.widget {
		padding: 10px;
		margin-top: 25px;
		background: #fff;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
			    box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	}
	
	.widget-first {
		background: #fff;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
		   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
			    box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	}

	.comment-des {
			width:90% !important;
		}

	.comments-dashboard {
		height: 18px;
	}



}

	