<%= s3_uploader_form post: images_url, as: "key" do %>
<span class="btn btn-small btn-primary btn-file-input">
    <i class="mini-ico-upload mini-white"></i>
    Choose a photo
    
</span>
  <%= file_field_tag :file %>
<% end %>