<% if @image.new_record? %>
  feedfiction.alert("Failed to upload image: <%= j @image.errors.full_messages.join(', ').html_safe %>");
<% else %>
   var li = $('<li></li>').html("<%= j render(@image) %>");
   feedfiction.actions.enableStartStoryForm.apply($(li));
  // $("#images").html("<%= j render(@image) %>");
  // $('#story_image_id').val('<%=@image.id%>');
<% end %>