<div>
<%= form_for Image.new do |f| %>
  
  <%= f.hidden_field :album_type_id %>
    <p>
    <%= f.file_field :image_source %>
  </p>
  
  
<% end %>

</div>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

