<div id="images">
  <%= render @image %>
</div>

<div>
<%# direct_upload_form_for @uploader do |f| %>
  <p>
    <%# f.file_field :image_source %>
  </p>
  <p>
  	<%#f.button %>
  </p>
  
<%# end %>

</div>


<%= s3_uploader_form post: images_url, as: 'image[image_source]' do %>
  <%= file_field_tag :file %>
<% end %>



<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>

