	    <li class="dropdown">
       	<a data-target="<%= about_url%>" href="<%= about_url%>" data-hover="dropdown" data-delay="1000" data-toggle="dropdown" >
          About <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <%= render 'layouts/footer_menu'%>
        </ul>
      </li>