				<ul class="row logo-images show-grid">
                  
                    <li class="span2 social-upload upload-instagram ">
                    	<%#= link_to image_tag('logos/facebook_logo.jpg'),in_wizard ? import_facebook_wizard_url : facebook_path %>
                    </li>
                    <li class="span2">
                    	<a class="social-upload upload-facebook"><span> Upload with facebook</span></a>
                    	<%#= link_to image_tag('logos/upload_image.jpg'),'#UploadModal' ,data: { function: 'displayUpload' , dismiss: 'modal'}, class: 'userFunction' %>
                    </li>
                    <li class="span2 social-upload upload-cloud">
                    	<%#= link_to image_tag('logos/instagram_logo.jpg'),in_wizard ? import_instagram_wizard_url : instagram_url %></li>
                 
                </ul>