<!--start: Logo -->
<div class="span3"><a href="<%= general_feed_url%>" class="logo-image"></a></div>



      <!-- <div class="logo span3">
        <!-- <i class="mini-white mini-ico-bookmark circle-color-full"></i> -->
<%#= link_to  content_tag(:span ,'Feed' ,class: 'logo-feed') + 'Fiction', root_path, id: "logo" , class: "brand" %>

        <!-- <a class="brand" href="#">Feed<span>fiction</span></a> -->
        <!-- <span class="label label-info alpha">Alpha</span>
      </div> -->
 
      <!--end: Logo -->