<li class="dropdown pull-right">

  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sorting <b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li ><a href="#">Most Recent</a></li>
            <li><a href="#">Completed</a></li>
            <li><a href="#">Uncompleted</a></li>
  </ul>
</li>