<% if current_user %>
<li class="start-new-story"><a class="userFunction link" data-function="startStoryModal" alt="Start new Story" title="Start new Story"><i class="ico-edit ico-white"></i><span>Start a story</span></a></li>
<%end%>