<% if current_user %>
<li <%=@enable_class%>><a class="userFunction link" data-function="startStoryModal" alt="Start a Story" title="Start a Story"><i class="mini-ico-pencil mini-white"></i> <span>Start a story</span></a></li>
<%end%>