<div id="loginPreloader" class="modal hide fade">
  <div class="modal-body">
    <p>Logging you in…</p>
  </div>
</div>

<div id="modal-register" class="modal hide fade">
	<div><a class="close-modal" data-dismiss="modal"></a></div>
  <div class="preloader hide"></div>
  
  <div class="modal-body">
    <div class="message">To check this out you need to sign in to FeedFiction</div>
    <div>Try it. It's Free.</div>
    <hr/>
    <span class="sign-in btn-signin-large"></span>
    <div class="link-login">Been here before? <%= link_to 'Log In' ,'#', class: 'sign-in'%></div>
  </div>
</div>

